@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="lib/styling/StyleSheet.css" asp-append-version="true" />


<h1 class="home" >Harpreet Singh </h1>


<div class="container" >
    <h2 class="tyyped" style="display: inline-block" >I'm a  </h2>
    <h2 style="display: inline-block"  class="typed-out">  Software  Developer  </h2>
</div>
<a href="https://drive.google.com/file/d/1feunxAWpX1r7ic5LJ0QvUlvdkOTCVLgr/view?usp=sharing" target=”_blank” class ="anchor" >
    Resume
</a>   