
<head>@{
    ViewData["Title"] = "About Me";
}

<link rel="stylesheet" href="/lib/styling/StyleSheet1.css" asp-append-version="true" />    
</head>
<body>
    <h2 class="headd" > About Me </h2>
    <p style="color:white;font-size:15px;">
        I'm Harpreet, a Software Engineer based in the India

        I've always had a passion for learning. I started my coding journey during my career in IT.<br /> I'm a diligent software engineer with 2+ years                  experience in commercial application development. Eager to join and build innovative<br/> and cutting edge business solutions for the                impressive suite of clients within its global reach. In previous roles, slashed downtime by 25% <br />and ensured 98% on-time project completion. <br /><br /> 
    </p>
    <div class="card text-white  mb-3" style="max-width: 40rem;background-color:#0c1424">
        <div class="card-header">Education</div>
        <div class="card-body"> 
            <p class="card-text">Completed graduation from Chandigarh University in Computer Science and Engineering.<br/>(2016-2020)</p>
            <a href="https://www.cuchd.in/">Visit Chandigarh University</a>
        </div>
    </div>
    <div class="card text-white mb-3" style="max-width: 40rem;background-color:#0c1424">
        <div class="card-header">Experience</div>
        <div class="card-body">
            <p class="card-text">Working as a Senior Software Developer at OATI<br/>(2020-Present)</p>
            <a href="https://www.oati.com">Visit OATI</a>
        </div>
    </div>
</body>      
 